body, html {
  margin: 0;
  
  
}
html{
  
  font-family: 'Roboto', sans-serif;
}
.box{
  border: 2px solid tomato;
  border-radius: 10px;
  padding: 10px;
}
.conteinerprincipal{
  background-image: url(https://images.unsplash.com/photo-1665492085149-21fcb2617dba?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  

}
/* me queda en error los bordes de inicio */
/* styles.css */
.slick-slider {
  width: 80%;
  margin: auto;
}

.slick-prev,
.slick-next {
  font-size: 24px;
}

.contacto-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url('https://plus.unsplash.com/premium_photo-1676901918792-f6e04df8b7b4?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
  background-position: center center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

.contacto-container h2 {
  color: #333;
  text-align: center;
}

.contacto-container p {
  color: #555;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
.quienes-somos-container {
  
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.quienes-somos-container h2 {
  color: #333;
  text-align: center;
}

.quienes-somos-container p {
  color: #555;
  line-height: 1.5;
}


.producto-container{
  background-image: url(https://media.istockphoto.com/id/1218264991/es/foto/cerca-met%C3%A1lica-cerca-rizada-de-metal-en-el-parque.jpg?s=2048x2048&w=is&k=20&c=hQFTqYkRwWZyiGb-_ARba8gcLos6USRmWe4OnRkfK0M=);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}
.somos{
  background-image: url(https://media.istockphoto.com/id/486809991/es/vector/carpenter.jpg?s=612x612&w=0&k=20&c=JVNr0wfoR7HW3qsJy4EdcUz6vDTt_rHLDZhAla1vlEA=);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}
.container-contacto{
  background-image: url(https://media.istockphoto.com/id/486809991/es/vector/carpenter.jpg?s=612x612&w=0&k=20&c=JVNr0wfoR7HW3qsJy4EdcUz6vDTt_rHLDZhAla1vlEA=);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
