html{
  
  font-family: 'Roboto', sans-serif;
}
.box{
  border: 2px solid tomato;
  border-radius: 10px;
  padding: 10px;
}
.conteinerprincipal{
  background-image: url(https://images.unsplash.com/photo-1665492085149-21fcb2617dba?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}